body{
    font-family: "Montserrat";
    font-weight: 400;
}
h1 {  font-family: "Montserrat";  font-size: 3.5rem;  line-height: 1.5;font-weight: 900;  }
#title{
    background-color: #562eac;
    color: #fff;
}
h3{
    font-size: 1.5rem;
    font-family: "Montserrat";
    font-weight: bold;
}


.container-fluid{
    padding: 3% 15%;
}
.download-button{
 margin: 5% 3% ;
}
.data{
    color: #8f8f8f;
}
.feature-icon{
    font-size:3.125rem;
    margin-bottom: 1rem;
    color: #afb11b
}
.feature-icon:hover {
    color: #562eac;
}

#features{
  padding: 7% 15%;
  text-align: center;
  
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar {
    padding:0 0 4.5rem;
}
.nav-item{
    padding: 0 20px;
}
.nav-link{
    font-size: 1.1rem;
}
.store{
    width: 60%;
    border-radius: 10%;
}
.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .profile-img {
    height: 100px;
    border-radius: 30%;
  }